[Unit]
Description=MuLy Search & Download localhost:6859
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=300
StartLimitBurst=10

[Service]
Type=simple
User=muly
Group=muly
WorkingDirectory=/opt/MuLy/repo

Environment=HOME=/opt/MuLy/home
Environment=VOLTA_HOME=/opt/MuLy/home/.volta
Environment=PATH=/opt/MuLy/home/.volta/bin:/usr/local/bin:/usr/bin:/bin
Environment=NPM_CONFIG_PREFIX=/opt/MuLy/repo/node_modules/.bin

ExecStart=/opt/MuLy/repo/START.sh

Restart=always
RestartSec=30
RuntimeMaxSec=30d
KillMode=control-group

NoNewPrivileges=true
ProtectSystem=full
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
LockPersonality=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
ProtectKernelLogs=true
ProtectProc=invisible
ProtectHome=true
PrivateDevices=true
RestrictNamespaces=true
RestrictSUIDSGID=true
CapabilityBoundingSet=
AmbientCapabilities=
#MemoryDenyWriteExecute=true

#UMask=0077
LimitNPROC=256
TasksMax=256
TimeoutStopSec=30
IOSchedulingPriority=4


MemoryHigh=500M
MemoryMax=900M
CPUQuota=20%
Nice=10
#CPUAffinity=0 1

[Install]
WantedBy=multi-user.target
